/*-----------------FONTS*/
@font-face {
  font-family: 'karbon-bold';
  src:  url('../fonts/Karbon-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'karbon-light';
  src:  url('../fonts/Karbon-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'karbon-thin';
  src:  url('../fonts/Karbon-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid-sans';
  src:  url('../fonts/DroidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid-sans_bold';
  src:  url('../fonts/DroidSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'walkway-ultra_bold';
  src:  url('../fonts/Walkway UltraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'walkway-semi_bold';
  src:  url('../fonts/Walkway SemiBold.ttf') format('truetype');
}

/*--------------LAYOUT*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #fff;
	background-color: #fff;
	font-family: 'karbon-thin';
	font-size: 14px;
}
.container{
	max-width: 1172px;
	width: 100%;
	margin: 0 auto;
}
.row{
	margin: 0;
}
.adjust{
	padding: 0;
}
.nav,
.info-content{
	background-color: #272b2f;
	position: relative;
}
.nav{
	width: 100%;
}
.gray{
	background-color: #f0f2f4;
}
.blue{
	background: -webkit-linear-gradient(280deg, #20a7d1 50%, #25c3e8, #20a7d1);
	background: -moz-linear-gradient(280deg, #20a7d1 50%, #25c3e8, #20a7d1);
	background: -o-linear-gradient(280deg, #20a7d1 50%, #25c3e8, #20a7d1);
	background: -ms-linear-gradient(170deg, #20a7d1 50%, #25c3e8, #20a7d1);
	background: linear-gradient(170deg, #20a7d1 50%, #25c3e8, #20a7d1);
}
.footer{
	background-color: #1b1e20;
}

/*-------------GLOBAL*/
ul, li{
	display: inline-block;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}


/*--------------TYPOGRAPHY*/
h2, h3, h4, p{
	margin: 0;
}
h1, h2, h3, h4, p{
	font-weight: normal;
  	font-style: normal;
}
h1{
	font-size: 80px;
	line-height: 65px;
}
h2{
	font-size: 60px;
	line-height: 45px;
	color: #20a7d1;
}
h3{
	font-size: 40px;
}
h4{
	font-size: 28px;
}
.product h2{
	color: inherit;
}
.nav,
.nav-lower,
.service__header p,
.product__header p,
.trapeze--text,
.box__text--title p,
.info-content__box--header a{
	text-transform: uppercase;
}
.logo a span{
	font-family: 'walkway-ultra_bold';
}
.nav__item a,
.nav-lower__item a,
.service__header p,
.product__header p,
.trapeze--text,
.box__text--title p{
	font-family: 'karbon-bold';
	font-size: 13px;
}
.nav__item a,
.logo a,
.nav-lower__item a,
.info-content__box--header a{
	text-decoration: none;
	color: #fff;
	letter-spacing: 0.2px;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-o-transition: color .2s ease;
	-ms-transition: color .2s ease;
	transition: color .2s ease;
}
.logo a{
	font-size: 29px;
	font-family: 'walkway-semi_bold';
	letter-spacing: 0.8px;
}
.nav-lower__item a{
	font-size: 17px;
	color: #909fae;
}
.nav__item a:hover,
.nav-lower__item a:hover{
	text-decoration: underline;
	color: #20a7d1;
}
.service p,
.service h4{
	color: #909fae;
}
.product p{
	color: #0a647f;
}
.service__descrip p,
.product .box__text--article p{
	font-family: 'droid-sans';
	font-size: 14px;
	color: #626a72;
	line-height: 22px;
	text-align: justify;
}
.product .box__text--article p{
	color: #fff;
	text-align: left;
}
p.trapeze--text{
	color: #fff;
	font-size: 14px;
}
.info-content__box--header a{
	font-size: 15px;
	font-family: 'karbon-bold';
}
.contact-item p,
.contact-item ul li span{
	font-size: 12px;
	font-family: 'droid-sans_bold';
}
.info-content__box--item li a,
.contact-item li,
.footer__content p,
.footer__content p a{
	text-decoration: none;
	font-size: 12px;
	font-family: 'droid-sans';
	color: #788086;
	transition: color .2s ease;
}
.contact-item ul li span,
.footer__content p a span{
color: #b9c0c6;
}
.info-content__box--header a:hover,
.info-content__box--item a:hover,
.contact-item a,
.footer__content p a:hover{
	color: #20a7d1;
}
/*--------------ICONS*/

.icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
.icon-user,
.icon-earth,
.icon-heart{
	color: #676f75;
}


/*----------------STYLE--------------------------*/
/*--------------NAVIGATION*/

.logo{
	position: relative;
	display: inline-block;
	margin: 17px;
}
.logo a::after,
.logo a::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 173px;
	height: 2px;
	background-color: #f19621;
}
.logo a::before{
	left: -1px;
	width: 55px;
	background-color: #1fb5e3;
	z-index: 10;
	transition: left 0.3s ease;
}
.logo a:hover::before{
	left: 118px;
}
.nav__item li{
	border-left: 1px solid  #3f4246;
}
.nav__item--text{
	margin: 26px -112px 0 0;
}
.nav__item--text li{
	padding: 0 37px;
}
@media screen and (max-width: 1370px){
	.nav__item--text{margin: 26px 0 0 -50px}
	.nav__item--text li{padding: 0 20px}
}
.nav__item--text li:nth-child(1),
.nav-lower__item li:nth-child(1){
	border-left: none;
}
.nav__item--icon{
	position: relative;
}
.nav__item--icon li{
	text-align: center;
}
.nav__item--icon li:nth-child(4),
.dropdown-list{
	background-color: #3f4246;
}
.icon-heart:hover{
	color: #ff4989;
}
.icon-user:hover,
.icon-earth:hover{
	color: #fff;
}
.dropdown-list{
	width: 72px;
	position: absolute;
	right: 72px;
	z-index: 10;
	border-bottom: 1px solid #5b5d5e;
}
.dropdown-list__item1{
	top: 70px;
}
.dropdown-list__item2{
	top: 141px;
}
.dropdown-list__item3{
	top: 212px;
}
.dropdown-search{
	position: absolute;
	bottom: -135px;
	padding: 0;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}
.icon-input{
	position: absolute;
	left: 34%;
	bottom: -6px;
	font-size: 78px;
	line-height: 134px;
	color: #eff2f4;
	z-index: 10;
}
.dropdown-search input{
	line-height: 134px;
	text-align: center;
	font-size: 96.26px;
	font-family: 'karbon-bold';
	width: 100%;
	border-width: 0;
	box-shadow: inset 0 4px 8px 0 #b1b4b5;
}
::-webkit-input-placeholder { /* Chrome */
  color: #eff2f4;
}
.dropdown-search input:focus{
	outline: none;
}
.hide,
.hide-search,
.icon-input.active{
	display: none;
}
.hide.active,
.hide-search.active{
	display: block;
}
/*----------------SLIDER*/
.slider{
	position: relative;
	overflow: hidden;
}
.slider--descrip{
	position: absolute;
	top: 23%;
}
.slider--descrip h1{
	position: relative;
}
.slider--descrip h1::before,
.slider--descrip h1::after{
	content: '';
	position: absolute;
	top: -11%;
	height: 1px;
	width: 275px;
	z-index: 100;
	background-color: #169bc4;
}
.slider--descrip h1::after{
	top: 124%;
	left: 0;
	width: 130px;
}
.pentagon{
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	position: absolute;
	right: 0;
	top: 40%;
	cursor: pointer;
}
.pentagon--shape{
	position: relative;
	display: inline-block;
	width: 82px;
	height: 47px;
	background: #f19621;
	margin-top: 55px;
}
.pentagon--shape::before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: -24px;
    border-bottom: 24px solid #f19621;
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
}
.arrow{
	position: relative;
	z-index: 5;
}
.arrow::before,
.arrow::after{
	content: '';
	display: inline-block;
	position: absolute;
	left: 35px;
	bottom: 22px;
	width: 4px;
	height: 15px;
	background-color: #fff;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
}
.arrow::after{
	left: 43px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*-------------LOWER NAVIGATION*/
.nav-lower{
	position: relative;
	text-align: center;
	margin: 0 auto;
}
.hand-nav{
	position: absolute;
	width: 45px;
	height: 45px;
	right: 10px;
	z-index: 1;
}
.nav-lower::before,
.nav-lower::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 48px;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 100px solid #f0f2f4;
}
.nav-lower::after{
	left: auto;
	right: 0;
	border-left: 55px solid transparent;
	border-right: 0px solid transparent;
}
.nav-lower__item li{
	padding: 25px 68px 20px;
	border-left: 1px solid  #e3e7eb;
	position: relative;
}
.nav-lower__item li::before{
	content: '';
	display: inline-block;
	position: absolute;
	left: -1px;
	width: 1px;
	height: 17px;
	background-color: #20a7d1;
}
.nav-lower__item li:first-child::before{
	content: none;
}
/*---------------SERVICE*/

.service__header,
.product__header,
.service__descrip{
	padding-top: 53px;
}
.start-md p{
	padding-right: 20px;
}
.end-md p{
	padding-left: 20px;
}
.service__ad{
	margin-top: 93px;
	text-align: center;
	padding: 0;
}
.service__ad--logo{
	height: 84px;
}
.service__ad--logo img{
	width: auto;
	height: auto;
}
.service__ad--text{
	margin: 30px 0 63px;
}
.service__ad--text p{
	font-size: 28px;
}
.trapeze{
	position: relative;
	margin: 0 auto;
	width: 91px;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 32px solid #20a7d1;
	cursor: pointer;
	transition: border-bottom 0.3s ease;
}
.trapeze:hover{
	border-bottom: 32px solid #68a967;
}
.trapeze--text{
	position: absolute;
	left: -16px;
	width: 123px;
	text-align: center;
	line-height: 32px;
}
.trapeze--shadow{
	position: absolute;
	top: 0;
	left: -20px;
	width: 131px;
	height: 32px;
	box-shadow: inset 0 -20px 40px -30px #000;
}
.mask-left,
.mask-right{
	position: absolute;
	left: -20px;
	width: 0;
	height: 0;
	border-top: 32px solid #f0f2f4;
	border-right: 20px solid transparent;
	cursor: default;
}
.mask-right{
	left: 91px;
	right: -20px;
	border-left: 20px solid transparent;
}

/*----------------PRODUCTS*/
.product .trapeze{
	border-bottom: 32px solid #fff;
}
.product .trapeze:hover{
	border-bottom: 32px solid #f19621;
}
.product .trapeze--text{
	color: #20a7d1;
}
.product .trapeze--text:hover{
	color: #fff;
}
.product .trapeze--shadow{
	top: 32px;
	left: -30px;
	width: 110px;
	height: 1px;
	background-color: transparent;
	-webkit-box-shadow: 20px -8px 15px 2px #74787c;
	box-shadow: 20px -8px 15px 2px #74787c;
}
.box{
	margin: 55px 0 68px;
	padding: 0;
}
.box__image{
	width: 95px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
.img-shadow{
	opacity: 0.4;
    -webkit-filter: brightness(0%) blur(3px);
            filter: brightness(0%) blur(3px);
    height: 10px;
    margin-top: 10px;
}
.box__text{
	width: calc(100% - 125px);
	display: inline-block;
}
.box__text--title{
	margin-top: -10px;
}
.box__line{
	width: 130px;
	height: 1px;
	background-color: #169bc4;
	margin: 20px 0;
}
/*--------------------INFO CONTENT*/
.info-content__box{
	position: relative;
	width: 150px;
	display: inline-block;
	padding-right: 17px;
	vertical-align: top;
}
.info-content--adjust{
	padding-right: 0;
	margin-top: 60px;
	border-bottom: 1px solid #3a3f44;
}
.info-content__box::before{
	content: '';
	position: absolute;
	top: -8px;
	left: 0;
	width: 27px;
	height: 1px;
	background-color: #3a3f44;
	transition: all 0.4s linear;
}
.info-content__box:hover::before{
	width: 150px;
	background-color: #f19621;
}
.info-content__box--header{
	margin-bottom: 14px;
}
.info-content__box--item{
	margin-bottom: 29px;
}
.info-content__box--item li,
.info-content__box--contact li{
	margin: 6px 0;
	display: block; 
}
.info-content__box--contact{
	background-color: #3a3f45;
	margin-top: -35px;
	border-bottom: 2px solid #1fb5e3;
}
.contact-item{
	padding: 0 90px 30px 37px;
}
.contact-item h4{
	padding: 25px 0 27px;
}
.contact-item li:nth-child(2){
	padding-left: 15px;
}
.contact-map{
	display: flex;
	align-items: flex-end
}
iframe{
	width: 100%;
	max-width: 100%;
}


/*--------------FOOTER*/
.footer__content{
	display: flex;
	margin: 30px 0 26px;
}














