@font-face {
  font-family: 'karbon-bold';
  src:  url('../fonts/Karbon-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'karbon-light';
  src:  url('../fonts/Karbon-Light.otf') format('opentype');
}
@font-face {
  font-family: 'karbon-thin';
  src:  url('../fonts/Karbon-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'droid-sans';
  src:  url('../fonts/DroidSans.ttf') format('truetype');
}
@font-face {
  font-family: 'droid-sans_bold';
  src:  url('../fonts/DroidSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'walkway-ultra_bold';
  src:  url('../fonts/Walkway UltraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'walkway-semi_bold';
  src:  url('../fonts/Walkway SemiBold.ttf') format('truetype');
}

/*--------------LAYOUT*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #fff;
	background-color: #fff;
	font-family: 'karbon-thin';
	font-size: 14px;
}
.container{
	max-width: 1172px;
	width: 100%;
}
.row{
	margin: 0;
}

/*-------------GLOBAL*/
ul, li{
	display: inline-block;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}


/*--------------FONTS*/
.nav{
	text-transform: uppercase;
}
.nav p{
	font-size: 29px;
	font-family: 'walkway-semi_bold';
}
.nav p span{
	font-family: 'walkway-ultra_bold';
}
.nav__item a{
	font-family: 'karbon-bold';
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	transition: color .2s ease;
}
a:hover{
	text-decoration: underline;
	color: #20a7d1;
}
/*--------------ICONS*/

.icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 20px;
	transition: color .3s ease;
}
.icon-user,
.icon-earth,
.icon-heart{
	color: #676f75;
}

/*----------------STYLE--------------------------*/
/*--------------NAVIGATION*/

.nav{
	background-color: #272b2f; 
}
.logo p{
	display: inline-block;
	margin: 19px 20px;
	border-bottom: 2px solid #f19621;
	line-height: 30px;
}
.logo p span{

	border-bottom: 2px solid #1fb5e3;
}
.nav__item li{
	border-left: 1px solid  #3f4246;
}
.nav__item--text{
	margin: 28px -123px 0 0;
}
.nav__item--text li{
	padding: 0 37px;
}
.nav__item--text li:nth-child(1){
	border-left: none;
}
.nav__item--icon{
	margin-right: -16px;
}
.nav__item--icon li{
	text-align: center;
}
.nav__item--icon li:last-child{
	background-color: #3f4246;
}
.icon-heart:hover{
	color: #ff4989;
}
.icon-user:hover,
.icon-earth:hover{
	color: #fff;
}
.slider{
	position: relative;
	overflow: hidden;
}
.pentagon{
	transform: rotate(270deg);
	position: absolute;
	right: 0;
	top: 40%;
	cursor: pointer;
}
.pentagon--shape{
	position: relative;
	display: inline-block;
	width: 82px;
	height: 47px;
	background: #f19621;
	margin-top: 55px;
}
.pentagon--shape::before{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: -24px;
    border-bottom: 24px solid #f19621;
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
}
.arrow{
	position: relative;
	z-index: 5;
}
.arrow::before,
.arrow::after{
	content: '';
	display: inline-block;
	position: absolute;
	left: 35px;
	bottom: 22px;
	width: 4px;
	height: 15px;
	background-color: #fff;
	transform: rotate(-40deg);
}
.arrow::after{
	left: 43px;
	transform: rotate(45deg);

